{% extends "headerFooterTemplate.html" %}
{% block content %}
    <h1 class="display-4 text-center text-white" style="margin-top:3em">Message Board System</h1><br>
    <p class="lead text-center text-white">This website lets you send messages to your favourite Discord or Slack channel through the magic of webhooks.</p>
  <br><br><br>
    <p class="lead text-center text-white">Log in to add your webhooks and start managing your channels like a pro!</p>
    <p class="lead text-center">
      <a href="/login" class="btn btn-lg {{color}} text-white">Check it out</a>
    </p>

{% endblock %}
