{% extends "headerFooterTemplate.html" %}
{% block content %}
{% with messages = get_flashed_messages () %}
{% if messages %}
{% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message | safe }} <a href="/login" class="alert-link">Click here to log in.</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
{% endif %}
{% endwith %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
              <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
              <a href="#" class="list-group-item list-group-item-action">User Management</a>
          </div>
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-7 border-right">
		                    <h4>Webhooks</h4>
		                </div>
		                <div class="col-5">
		                    <button type="button" class="btn btn-sm btn-primary">Add Webhook</button>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    <table class="table table-hover ">
                                <thead class="bg-light ">
                                  <tr>
                                    <th>Name</th>
                                    <th>Service</th>
                                    <th>Edit</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for webh in webhooks %}
                                    <tr>
                                      <td><a href="#">{{webh[0]}}</a></td>
                                      <td>{{webh[1]}}</td>
                                      <td>
                                        <form method="post" name="form" id="submitForm">
                                          <button class="btn btn-link btn-sm" id="edit"><i class="far fa-edit"></i></button>
                                          <button class="btn btn-link btn-sm" id="delete" value= "{{webh[4]}}"><i class="far fa-trash-alt"></i></button>
                                        </form>
                                      </td>
                                    </tr>
                                  {% endfor %}

                                </tbody>
                              </table>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
{% endblock %}
