{% extends "headerFooterTemplate.html" %}
{% block content %}
<div class="card mx-auto" style="margin-bottom:1em;">
  <div class="card-body">
    <h5 class="card-title text-center">{{title}}</h5>

      <div class="form-group">
          <label for="content">Msg Content</label>
          <textarea class="form-control" id="content" rows="6"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
<div id="alertS"class="alert alert-success collapse alert-dismissible" role="alert">
  Message Sent!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-2.1.1.min.js" type=
   "text/javascript">
</script>
<script>
  $(function() {
      $('button').click(function(e) {
      var url = "{{webh[3]}}";
      var content = $("#content").val();
      var username = "{{webh[0]}}";
      var avatar_url = "{{webh[2]}}";
      $.post(url,
  {"content": content, "username": username, "avatar_url": avatar_url},
      function(){
          $('#alertS').show();
      });
      });
  });
  </script>
{% endblock %}
